.mb-4 {
   color: #858796;
}

a {
   color: #4e73df;
   text-decoration: none;
}

.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid #e3e6f0;
   border-radius: 0.35rem;
}

.border-left-primary {
   border-left: 0.25rem solid #4e73df!important;
}

.border-left-secondary {
   border-left: 0.25rem solid #858796!important;
}

.border-left-success {
   border-left: 0.25rem solid #1cc88a!important;
}

.border-left-info {
   border-left: 0.25rem solid #36b9cc!important;
}

.border-left-warning {
   border-left: 0.25rem solid #f6c23e!important;
}

.border-left-danger {
   border-left: 0.25rem solid #e74a3b!important;
}

.border-left-dark {
   border-left: 0.25rem solid #5a5c69!important;
}

.border-bottom-primary {
   border-bottom: 0.25rem solid #4e73df!important;
}

.border-bottom-secondary {
   border-bottom: 0.25rem solid #858796!important;
}

.border-bottom-success {
   border-bottom: 0.25rem solid #1cc88a!important;
}

.border-bottom-info {
   border-bottom: 0.25rem solid #36b9cc!important;
}

.border-bottom-warning {
   border-bottom: 0.25rem solid #f6c23e!important;
}

.border-bottom-danger {
   border-bottom: 0.25rem solid #e74a3b!important;
}

.border-bottom-dark {
   border-bottom: 0.25rem solid #5a5c69!important;
}