.wrapper {
   background-color: #4e73df;
   background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
   background-size: cover;
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -0.75rem;
   margin-left: -0.75rem;
}

.bg-login-image {
   background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
   background-position: center;
   background-size: cover;
   border-radius : 10px 0 0 10px;
}

.form-title {
   font-weight: 400;
   color: #3a3b45;
}


.form-group {
   margin-bottom: 1rem;
}

.form-control {
   height: calc(1.5em + 0.75rem + 2px);
   color: #6e707e;
   font-size: .8rem;
   font-weight: 400;
   border-radius: 10rem;
   padding: 1.5rem 1rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid rgba(0,0,0,.1);
}

.btn {
   display: block;
   width: 100%;
   font-size: .8rem;
   border-radius: 10rem;
   padding: 0.75rem 1rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   
   &-primary {
      color: #fff;
      background-color: #4e73df;
      border-color: #4e73df;

      &:hover {
         color: #fff;
         background-color: #2e59d9;
         border-color: #2653d4;
      }
   }

   &-google {
      color: #fff;
      background-color: #ea4335;
      border-color: #fff;

      &:hover {
         color: #fff;
         background-color: #e12717;
         border-color: #e6e6e6;
      }
   }

   &-facebook {
      color: #fff;
      background-color: #3b5998;
      border-color: #fff;
      margin-top: 0.5rem;
      &:hover{
         color: #fff;
         background-color: #30497c;
         border-color: #e6e6e6;
      }
   }
}

.link {
   text-decoration: none;
   color: #4e73df;
   text-decoration: none;
   background-color: transparent;
}

.small {
   font-size: 80%;
   font-weight: 400;
}

.form-check-label{
   color: #858796;
   font-size:80%;
   margin : 0 10px 0 10px;
}