.mb-4 {
   color: #858796;
}

a {
   color: #4e73df;
   text-decoration: none;
}

hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid rgba(0,0,0,.1);
}

.navbar {
   padding: 0.5rem 1rem;
}

.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid #e3e6f0;
   border-radius: 0.35rem;
   box-shadow: none;

   &-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: #f8f9fc;
      border-bottom: 1px solid #e3e6f0;
   }

   &-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1.25rem;
   }
}

.text-primary {
   color: #4e73df!important;
}

.bg-primary {
   background-color: #4e73df!important;
}

.rotate-15 {
   transform: rotate(15deg);
}

.rotate-n-15 {
   transform: rotate(-15deg);
}

.progress-bar {
   background-color: #4e73df;
}

.progress-sm {
   height: 0.5rem;
}