.mb-4 {
   color: #858796;
}

a {
   color: #4e73df;
   text-decoration: none;
}

.card-header {
   background-color: #f8f9fc;
   padding: 0.75rem 1.25rem;
   margin-bottom: 0;
   border-bottom: 1px solid #e3e6f0
}

.table-responsive {
   overflow-x: hidden;
}

.table {
   color: #858796;
}

.table thead th {
   border-bottom: 2px solid #e3e6f0;
}

.table-title {
   color: #4e73df;
}

.row {
   align-items: center;
}


.dataTables_filter {
   padding-bottom: 5px;
   text-align: right;
}

.dataTables_filter input {
   margin-left: 0.5em;
   display: inline-block;
   width: auto
}


.dataTables_paginate .pagination{
   margin: 2px 0;
   white-space: nowrap;
   justify-content: flex-end;
}